*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 33%;
    border:1px solid black;
    border-radius: 50%;
    object-fit: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navlist{
   width: 50%;
   /* background-color: red; */
   display: flex;
   align-items: center;

}
.navlist li{
    list-style: none;
    padding: 20px 30px;

}
.navlist li a{
    text-decoration: none;
    color: white;

}
.navlist li a:hover{
    color: gray;
}
.leftnav{
    width: 50%;
    /* background-color: bisque; */
    text-align:right;
    color: transparent;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border-radius: 9px;
    border: 1px solid black;
}
.background{
    background:rgba(0,0,0,0.7)url(../img/pexels-albinberlin-919073.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    background-image: url(img/pexels-hikaique-65438.jpg);
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background: url(img/pexels-hikaique-65438.jpg); */
    color: white;
    max-width: 50%;
    margin: auto;
    height: 70%;
}
.secondhalf img{
    height: 70%;
    border: 2px solid black;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 30%;
}
.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 20px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: none;
}
.btn-sm{
    padding: 5px 10px;
    vertical-align: middle;
}
.right{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
.left{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
}
.peras{
    padding: 0 70px;
}