
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(IN-en-20250825-TRIFECTA-perspective_a3209894-0b01-4ddb-b57e-f32165e20a3f_large.jpg);
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    position: relative;
    
}
.box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;

}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:55px;
}
nav img{
    width: 160px;
    position: relative;
    z-index: 15;
}
nav button{
    position: relative;
    z-index: 15;
}
.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    position: relative;
    font-size: 35px;
    color: white;
}
.heros{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: .6%;
    position: relative;
    font-size: 12px;
    color: white;
    font-family: "Inter", sans-serif;
}
.text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
    position: relative;
    font-size: 12px;
    color: white;
    text-align: center;
}
.login{
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top:0.5%;
    color: white;
    text-align: center;
}
button{
    background-color: red;
    cursor:pointer;
    color: white;
    border:0.8px solid black;
    border-radius:1.5px;
    font-family: "Inter", sans-serif;
    
}
.inspect{
    height: 0.5vh;
    width: 100vw;
    background-color: rgba(223, 37, 37, 0.927);
}
.movies{
    height: 70vh;
    width: 80vw;
}
.trand{
    color: white;
}