@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: beige;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'Inter';
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding:0 12px;
}
.brand img{
    width: 45px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;

}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family:'Inter';
    display: flex;
    width: 70%;
    margin: 24px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('img/pexels-eberhardgross-640781.jpg');
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: aliceblue;
    /* width: 60%; */
    color: black;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    
   
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 1.5px;
}
.timestamp{
       margin: 0 23px;
       cursor: pointer;
}