
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 51, 51);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow:0px 3px 15px rgba(113, 115, 119, 0.5);

}
input{
    width: 100%;
    border:none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.9);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    
}
input::placeholder{
    color: white;
}
button{
  border: none;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background-color: #717377;
}
.btn{
    background-color: #fb7c14;
}