#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Clock.jpg) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second {
    background-color: black;
    position: absolute;
    border-radius: 8px;
    transform-origin: bottom;
}
#hour {
    height: 22%;
    width: .5%;
    top: 20%;
    left: 50%;
    opacity: 0.8;
    
}
 
#minute{
    height: 25%;
    width: .5%;
    top: 17%;
    left: 50%;
    opacity: 0.8;
    

}
#second{
    height: 28%;
    width: .5%;
    top: 14%;
    left: 49.8%;
    opacity: 0.8;
   

}